<p> <%= image_tag @portofolio_item.main_image if @portofolio_item.main_image.present? %> </p>

<h1> <%= @portofolio_item.title %>    </h1>

<em> <%= @portofolio_item.subtitle %> </em>

<p> <%= @portofolio_item.body %>  </p>